.club-info-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;
  }
  
  .club-info {
    flex: 1;
  }
  
  .club-image {
    flex: 1;
    text-align: center;
  }
  
  .club-info-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(''); /* Replace 'watermark.png' with your watermark image path */
    opacity: 0.2; /* Adjust opacity as needed */
    pointer-events: none;
    z-index: -1;
  }
  
  .heading {
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }